.row {
  --bs-gutter-x: 0;
}

body {
  background-color: #f1f1f1;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Inter", sans-serif;
}

.side-bar {
  background-color: #fff;
  min-height: 100vh;
}

.topbar {
  background-color: #fff;
}

a {
  all: unset;
  cursor: pointer;
}

.tag {
  width: 7rem;
  border-radius: 1rem;
}

.menu:hover {
  font-weight: bold;
}
